.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #cfc5db;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 104px;
  top: 75px;
  width: 359px;
  height: 49px;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 47px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 770px;
  top: 80px;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1592px;
  position: absolute;
  left: 80px;
  top: 262px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 50px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.reach-out-to-the-course-team-for-support-or-inquiries {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.professor-contact-details-paul-t-shapiro-pshapiro-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.professor-contact-details-paul-t-shapiro-pshapiro-umd-edu-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.professor-contact-details-paul-t-shapiro-pshapiro-umd-edu-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.ta-contact-details {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.bharath-sreekumar-bsreekum-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.caifu-lin-clin-0817-terpmail-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.sumanth-devara-sdevara-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
